# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
#pawapays api=eyJraWQiOiIxIiwiYWxnIjoiRVMyNTYifQ.eyJ0dCI6IkFBVCIsInN1YiI6IjIyNDUyIiwibWF2IjoiMSIsImV4cCI6MjA5NzE0MzIyMSwiaWF0IjoxNzgxNTI0MDIxLCJwbSI6IkRBRixQQUYiLCJqdGkiOiJjYzUwNmIzMC05MDk1LTQ2YmMtOWMwOC0yZTczMTE4NzAxY2EifQ.aXGSvG66aAUhgFPqKBaBDCEqIOt4bc5jXwwFrqUWh2grK9jupk-mAnZ2Fo7EUAfBW8WAqC7wQeZ90zJLvSNWog 
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
#nodes modules from supabase
/node_modules
# Sensitive configuration
/lib/core/config/app_config.dart
